<form [formGroup]="orderForm" (ngSubmit)="onSubmit(orderForm.value)">
            <div formArrayName ="items" *ngFor="let item of orderForm.get('items').controls; let i=index;">
       <div formGroupName = "0">
                <div class="form-group">
            <label>firstname</label>
            <input type="text" formControlName="orderForm[i]" class="form-control" id="firstname" class ="form-control" name="firstname" placeholder = "firstname">
        </div>
        <div class="form-group">
            <label>lastname</label>
            <input type="text" formControlName="orderForm[i]" class="form-control" id="lastname" class ="form-control" name="lastname" placeholder = "lastname">
        </div>
    </div>
    </div>
    <button type="submit" class="btn btn-primary">submit</button>
    
</form>
<button (click)="additem()">add</button>

